.shippment-details-container {
  width: 100%;
  height: 250px;
  border: 2px solid rgba(137, 133, 133, 0.19);
  border-radius: 20px;
}

.tracking-trip-container {
  height: 50%;
  border-top: 2px solid rgba(137, 133, 133, 0.19);
  display: flex;
  align-items: center;
  padding: 0px 40px;
  justify-content: center;
}

.tracking-meter {
  width: 100%;
  height: 8px;
  background-color: #eeeeee;
  border-radius: 10px;
  position: relative;
}

.tracking-meter-fill {
  height: 100%;
  background-color: forestgreen;
  border-radius: 10px;
}

.tracking-image-indicator {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-color: white;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.shipment-data {
  display: flex;
  height: 50%;
  align-items: center;
  justify-content: space-between;
  padding: 0px 40px;
}

.each-shipment-data {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.each-shipment-data h5 {
  font-family: "Cairo-light";
  letter-spacing: 1px;
  color: #bbbaba;
}

.each-shipment-data h4 {
  font-family: "Cairo-Bold";
}

.table-and-address-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  width: 100%;
  box-sizing: border-box;
}

.table-container {
  flex-grow: 1;
}

.address-card {
  background-color: #eaeaea;
  padding: 20px 10px;
  width: 100%;
  text-align: center;
  border-radius: 10px;
  font-family: "Cairo-Light";
}

.address-and-report-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.report-container {
  outline: 1px solid #eaeaea;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
}

.report-container strong {
  display: block;
  margin-block-end: 16px;
  font-family: "Cairo-Bold";
}

.report-button {
  background-color: red;
  width: 100%;
  border-radius: 15px;
  padding: 9px 20px;
  color: white;
  font-weight: 600;
  cursor: pointer;
  font-family: "Cairo-Bold";
  display: block;
}
