.mainLayoutContainer {
  width: 100vw;
}

.page-container {
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}
