.mainLayoutContainer {
  width: 100%;
}

.page-container {
  width: 100%;
  padding: 20px 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
}

@media (max-width: 1000px) {
  .page-container {
    position: relative;
    top: 10vh;
  }
}
