* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*[dir="ltr"] {
  text-align: left;
}

*[dir="rtl"] {
  text-align: right;
}

:root,
body {
  height: 100%;
}

#root {
  min-height: 100%;
}

h2 {
  margin-block-end: 16px;
  font-family: "Cairo-Bold";
}

h1 {
  font-family: "Cairo-Bold";
  text-align: center;
}

table * {
  font-family: "Cairo-Light" !important;
}
