* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root,
body {
  height: 100%;
}

#root {
  min-height: 100%;
}

h2 {
  margin-block-end: 16px;
  font-family: "Cairo-Bold";
}

table * {
  font-family: "Cairo-Light" !important;
}
